# UNData API Exercise


In this exercise, you'll redo the data gathering phase of the UNData Exploration project by using APIs (Application Programming Interface) instead of downloading csv files.

In [1]:
import requests
import pandas as pd
import numpy as np
import json


You'll make use of the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation). Note that this API does not require an API key. Before attempting the exercise, it would be a good idea to skim through the Documentation page and to check out the [Basic Call Structure article](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581).

1. Use the API to get all available data for the _GDP per capita, PPP (constant 2021 international $)_ indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [2]:
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD'
params = {
    'format': 'json',
    'Per_page' : 30000
}
response = requests.get(endpoint, params=params)
len(response.json()[1])

17024

In [3]:
res = (
    pd
    .json_normalize(response.json()[1])
    .drop(
        columns={
            'countryiso3code',
            'unit',
            'obs_status',
            'decimal',
            'indicator.id',
            'indicator.value'})
    .rename(
        columns={
            'date':'year',
            'value':'gdp_per_capita',
            'country.id':'country_id',
            'country.value':'country_or_region'})
    .loc[:,['year', 'country_id', 'country_or_region', 'gdp_per_capita']]
)
print(res.shape)
res.head(5)

(17024, 4)

   year country_id            country_or_region  gdp_per_capita
0  2023         ZH  Africa Eastern and Southern     4047.007031
1  2022         ZH  Africa Eastern and Southern     4038.638689
2  2021         ZH  Africa Eastern and Southern     3994.171654
3  2020         ZH  Africa Eastern and Southern     3919.499230
4  2019         ZH  Africa Eastern and Southern     4130.057222


2. Now, use the API to get all available data for _Life expectancy at birth, total (years)_. This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

In [4]:
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN'
params = {
    'format' : 'json',
    'Per_page': 30000
}
response2 = requests.get(endpoint, params=params)
len(response2.json()[1])

17024

In [5]:
res2 = (
    pd
    .json_normalize(response2.json()[1])
    .drop(
        columns={
            'countryiso3code',
            'unit',
            'obs_status',
            'decimal',
            'indicator.id',
            'indicator.value'})
    .rename(
        columns={
            'date':'year',
            'value':'life_expectancy',
            'country.id':'country_id',
            'country.value':'country_or_region'})
    .loc[:,['year', 'country_id', 'country_or_region', 'life_expectancy']]
)
print(res2.shape)
res2.head(5)

(17024, 4)

   year country_id            country_or_region  life_expectancy
0  2023         ZH  Africa Eastern and Southern              NaN
1  2022         ZH  Africa Eastern and Southern        62.899031
2  2021         ZH  Africa Eastern and Southern        62.454590
3  2020         ZH  Africa Eastern and Southern        63.313860
4  2019         ZH  Africa Eastern and Southern        63.755678


3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

In [6]:
res_merged =(
    pd.merge(
        left=res,
        right=res2,
        on=['year', 'country_id', 'country_or_region'],
        how='outer')
)
print(res_merged.shape)
res_merged

(17024, 5)

,year,country_id,country_or_region,gdp_per_capita,life_expectancy
0,1960,1A,Arab World,NaN,44.972899
1,1960,1W,World,NaN,50.894331
2,1960,4E,East Asia & Pacific (excluding high income),NaN,37.754070
3,1960,7E,Europe & Central Asia (excluding high income),NaN,61.309416
4,1960,8S,South Asia,NaN,45.102367
...,...,...,...,...,...
17019,2023,ZJ,Latin America & Caribbean,19458.858264,NaN
17020,2023,ZM,Zambia,3718.700564,NaN
17021,2023,ZQ,Middle East & North Africa,18887.409085,NaN
17022,2023,ZT,IDA & IBRD total,13997.880812,NaN
17023,2023,ZW,Zimbabwe,3515.238425,NaN


4. You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the [Country API](https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-country-api-queries). Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

In [7]:
endpoint='https://api.worldbank.org/v2/country/all'
params={
    'format':'json',
    'Per_page':30000
}
response3 = requests.get(endpoint, params=params)
len(response3.json()[1])

296

In [8]:
res3 = (
    pd
    .json_normalize(response3.json()[1])
    .rename(columns={'name':'country_or_region'})
)
res3
res_merged2 = (
    pd
    .merge(left=res3, right=res_merged, on='country_or_region', how='left')
    .replace(r'^\s*$', np.nan, regex=True).dropna(subset='capitalCity')
    .drop(
        columns=[
            'id',
            'iso2Code',
            'region.id',
            'region.iso2code',
            'region.value',
            'adminregion.id',
            'incomeLevel.iso2code',
            'lendingType.id',
            'lendingType.iso2code',
            'lendingType.value'])
    .loc[:, ['year',
             'country_or_region',
             'capitalCity',
             'longitude',
             'latitude',
             'incomeLevel.value',
             'gdp_per_capita',
             'life_expectancy']]
    .sort_values(['country_or_region', 'year'])
    .reset_index()
)
print(res_merged2.shape)
display(res_merged2.head())
len(res_merged2['country_or_region'].unique())

(13504, 9)

,index,year,country_or_region,capitalCity,longitude,latitude,incomeLevel.value,gdp_per_capita,life_expectancy
0,128,1960,Afghanistan,Kabul,69.1761,34.5228,Low income,NaN,32.535
1,129,1961,Afghanistan,Kabul,69.1761,34.5228,Low income,NaN,33.068
2,130,1962,Afghanistan,Kabul,69.1761,34.5228,Low income,NaN,33.547
3,131,1963,Afghanistan,Kabul,69.1761,34.5228,Low income,NaN,34.016
4,132,1964,Afghanistan,Kabul,69.1761,34.5228,Low income,NaN,34.494

211

## **Bonus Questions:**

After doing a basic request to get all records, you can attempt these exercises to get additional practice using query parameters.


1. Adjust your request so that it returns data just for the United States.

`attempt at importing each indicator separately for an easier merge later on.`

In [9]:
# request world bank api data for USA indicator NY.GDP.PCAP.PP.KD - GDP per capita
endpoint='https://api.worldbank.org/v2/country/us/indicator/NY.GDP.PCAP.PP.KD'
params={
    'format':'json',
    'Per_page':30000
}
response4 = requests.get(endpoint, params=params)
# len(response4.json()[1])

In [10]:
# request world bank api data for USA indicator SP.DYN.LE00.IN - life expectancy
endpoint='https://api.worldbank.org/v2/country/us/indicator/SP.DYN.LE00.IN'
params={
    'format':'json',
    'Per_page':30000
}
response5 = requests.get(endpoint, params=params)
# len(response5.json()[1])

In [11]:
# create dataframe out of .json and clean up
res4 = (
    pd.
    json_normalize(response4.json()[1])
    .drop(columns={'unit', 'obs_status', 'decimal', 'indicator.id', 'indicator.value'})
    .rename(columns={'value':'gdp_per_capita'})
)
# print(res4.shape)
# res4.head(3)

In [12]:
# create dataframe out of .json and clean up
res5 = (
    pd.
    json_normalize(response5.json()[1])
    .drop(columns={'unit', 'obs_status', 'decimal','indicator.id', 'indicator.value'})
    .rename(columns={'value':'life_expectancy'})
)
# print(res5.shape)
# res5.head(3)

In [13]:
# merge the two dfs together so it's USA data with both categories
res_merged_3 = (
    pd.merge(left=res4,
             right=res5,
             on=['countryiso3code',
                 'date',
                 'country.id',
                 'country.value'],
                 how='outer')
        .drop(columns=['country.id', 'countryiso3code'])
        .rename(columns={'date':'year', 'country.value':'country'})
        .sort_values(['year'])
)
res_merged3 = res_merged_3.loc[:,['year', 'country', 'gdp_per_capita', 'life_expectancy']]
# display(res_merged3)

`i'll try to import both indicators at the same time.`

In [14]:
# world bank api request for multiple indicators, needs a source call at the end if multiple indicators
endpoint='https://api.worldbank.org/v2/country/us/indicator/NY.GDP.PCAP.PP.KD;SP.DYN.LE00.IN?source=2'
params={
    'format':'json',
    'Per_page':'296'
}
response6 = requests.get(endpoint, params=params)
# print(len(response6.json()[1]))
res6 = (
    pd
    .json_normalize(response6.json()[1])
    .drop(columns={'scale', 'unit', 'obs_status','decimal'})
)
display(res6.head(2))
display(res6.tail(2))

,countryiso3code,date,value,indicator.id,indicator.value,country.id,country.value
0,USA,2023,73637.302789,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States
1,USA,2022,72165.483470,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",US,United States

,countryiso3code,date,value,indicator.id,indicator.value,country.id,country.value
126,USA,1961,70.270732,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States
127,USA,1960,69.770732,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",US,United States

In [15]:
# function to find the index where the df changes from GDPPC to LE
def find_first_different_string(df, column_name):
    """Finds the first string in a DataFrame column that
    is different from the first value."""
    
    for value in df[column_name]:
        if value != df[column_name].iloc[0]:
            return df.index[df[column_name]==value][0]
    return None, None

In [16]:
# use function to define our break point for this df
change_index = find_first_different_string(res6, 'indicator.value')
# slice the GDP portion out of larger df
gdp_half = (
    res6
    .iloc[0:change_index]
    .sort_values('date')
    .drop(
        columns=[
            'countryiso3code',
            'indicator.id',
            'indicator.value',
            'country.id'])
    .rename(
        columns={
            'value':'gdp_per_capita',
            'country.value':'country'})
    .copy()
)
# slice the life expectancy portion out of larger df
life_exp_half = (
    res6
    .iloc[change_index:]
    .sort_values('date')
    .drop(
        columns=[
            'countryiso3code',
            'indicator.id',
            'indicator.value',
            'country.id'])
    .rename(
            columns={
                'value':'life_expectancy',
                'country.value':'country'})
    .copy()
)
# merge the two halves so that useful information in its own columns
us_data = (
    pd
    .merge(
        left=gdp_half,
        right=life_exp_half,
        on=['date', 'country'],
        how='outer')
    .loc[:,['date','country', 'gdp_per_capita', 'life_expectancy']]
)
us_data

    date        country  gdp_per_capita  life_expectancy
0   1960  United States             NaN        69.770732
1   1961  United States             NaN        70.270732
2   1962  United States             NaN        70.119512
3   1963  United States             NaN        69.917073
4   1964  United States             NaN        70.165854
..   ...            ...             ...              ...
59  2019  United States    69458.610183        78.787805
60  2020  United States    67266.187874        76.980488
61  2021  United States    71055.876194        76.329268
62  2022  United States    72165.483470        77.434146
63  2023  United States    73637.302789              NaN

[64 rows x 4 columns]


2. Adjust your request so that it returns data just for the United States for the year 2021.

In [17]:
# world bank api request for multiple indicators, needs a source call at the end if multiple indicators
endpoint='https://api.worldbank.org/v2/country/us/indicator/NY.GDP.PCAP.PP.KD;SP.DYN.LE00.IN'#?source=2'
params={
    'format':'json',
    'Per_page': 30000,
    'date':'2021',
    'source': 2
}
response7 = requests.get(endpoint, params=params)
response7.json()[1]
res7 = (
    pd
    .json_normalize(response7.json()[1])
    .drop(
        columns={
            'countryiso3code',
            'unit',
            'obs_status',
            'decimal',
            'country.id',
            'indicator.id'})
    .loc[:,['date', 'indicator.value', 'country.value', 'value']]
)
display(res7)

,date,indicator.value,country.value,value
0,2021,"GDP per capita, PPP (constant 2021 internation...",United States,71055.876194
1,2021,"Life expectancy at birth, total (years)",United States,76.329268


3. Adjust your request so that it returns data just for the United States for the years 2000 through 2021.

In [18]:
# world bank api request for multiple indicators, needs a source call at the end if multiple indicators
endpoint='https://api.worldbank.org/v2/country/us/indicator/NY.GDP.PCAP.PP.KD;SP.DYN.LE00.IN'
params={
    'format':'json',
    'Per_page': 30000,
    'date':'2000:2021',
    'source': 2
}
response8 = requests.get(endpoint, params=params)
response8.json()[1]
res8 = (
    pd
    .json_normalize(response8.json()[1])
    .drop(
        columns={
            'countryiso3code',
            'unit',
            'obs_status',
            'decimal',
            'country.id',
            'indicator.id'})
    .loc[:,['date', 'indicator.value', 'country.value', 'value']]
)
# display(res8)
change_index = find_first_different_string(res8, 'indicator.value')
gdp_half = (
    res8
    .iloc[0:change_index]
    .sort_values('date')
    # .drop(
    #     columns=[
    #         'countryiso3code',
    #         'indicator.id',
    #         'indicator.value',
    #         'country.id'])
    .rename(
        columns={
            'value':'gdp_per_capita',
            'country.value':'country'})
    .copy()
)

# slice the life expectancy portion out of larger df
life_exp_half = (
    res8
    .iloc[change_index:]
    .sort_values('date')
    # .drop(
    #     columns=[
    #         'countryiso3code',
    #         'indicator.id',
    #         'indicator.value',
    #         'country.id'])
    .rename(
            columns={
                'value':'life_expectancy',
                'country.value':'country'})
    .copy()
)
# merge the two halves so that useful information in its own columns
us_data_2 = (
    pd
    .merge(
        left=gdp_half,
        right=life_exp_half,
        on=['date', 'country'],
        how='outer')
    .loc[:,['date','country', 'gdp_per_capita', 'life_expectancy']]
)
us_data_2

    date        country  gdp_per_capita  life_expectancy
0   2000  United States    55059.219169        76.636585
1   2001  United States    55037.893673        76.836585
2   2002  United States    55456.862403        76.936585
3   2003  United States    56519.350712        77.036585
4   2004  United States    58153.387828        77.487805
5   2005  United States    59627.059056        77.487805
6   2006  United States    60699.272085        77.687805
7   2007  United States    61329.539227        77.987805
8   2008  United States    60821.185961        78.039024
9   2009  United States    58736.946133        78.390244
10  2010  United States    59821.665081        78.541463
11  2011  United States    60317.542521        78.641463
12  2012  United States    61247.317072        78.741463
13  2013  United States    62112.583447        78.741463
14  2014  United States    63214.895346        78.841463
15  2015  United States    64599.573736        78.690244
16  2016  United States    65299.999384        78.539024
17  2017  United States    66482.893439        78.539024
18  2018  United States    68095.686806        78.639024
19  2019  United States    69458.610183        78.787805
20  2020  United States    67266.187874        76.980488
21  2021  United States    71055.876194        76.329268


4. Adjust your request so that it returns data for the United States and Canada for the years 2000 through 2021.

In [22]:
# world bank api request for multiple indicators, needs a source call at the end if multiple indicators
endpoint='https://api.worldbank.org/v2/country/us;ca/indicator/NY.GDP.PCAP.PP.KD;SP.DYN.LE00.IN'
params={
    'format':'json',
    'Per_page': 30000,
    'date':'2000:2021',
    'source': 2
}
response9 = requests.get(endpoint, params=params)
response9.json()[1]
res9 = (
    pd
    .json_normalize(response9.json()[1])
    .drop(
        columns={
            'countryiso3code',
            'unit',
            'obs_status',
            'decimal',
            'country.id',
            'indicator.id'})
    .loc[:,['date', 'indicator.value', 'country.value', 'value']]
)
# display(res8)
change_index = find_first_different_string(res9, 'indicator.value')
gdp_half = (
    res9
    .iloc[0:change_index]
    .sort_values('date')
    # .drop(
    #     columns=[
    #         'countryiso3code',
    #         'indicator.id',
    #         'indicator.value',
    #         'country.id'])
    .rename(
        columns={
            'value':'gdp_per_capita',
            'country.value':'country'})
    .copy()
)

# slice the life expectancy portion out of larger df
life_exp_half = (
    res9
    .iloc[change_index:]
    .sort_values('date')
    # .drop(
    #     columns=[
    #         'countryiso3code',
    #         'indicator.id',
    #         'indicator.value',
    #         'country.id'])
    .rename(
            columns={
                'value':'life_expectancy',
                'country.value':'country'})
    .copy()
)
# merge the two halves so that useful information in its own columns
countries_data = (
    pd
    .merge(
        left=gdp_half,
        right=life_exp_half,
        on=['date', 'country'],
        how='outer')
    .loc[:,['date','country', 'gdp_per_capita', 'life_expectancy']]
    .sort_values(['country','date'])
)
# countries_data


5. If you haven't already done so and you would like to get some additional practice using loops, use the page parameter in order to pull all records. Do not change the value of the per_page parameter. You will likely need to utilize a loop of some kind in order to pull all records.

In [44]:
endpoint_ = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD;SP.DYN.LE00.IN?source=2'
all_items = []
page = '2'

# while True
data = requests.get(endpoint_, params={'format':'json', 'page':page})
all_items += data
# data.json()
all_items

[b'[{"page":2,"pages":681,"per_page":50,"total":34048,"sourceid":null,"lastupdated":"2024-10-24"},[{"indicator":{"id":"NY.GDP.PCAP.',
 b'PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"',
 b'},"countryiso3code":"AFE","date":"1973","value":null,"scale":"","unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GD',
 b'P.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZH","value":"Africa Eastern and So',
 b'uthern"},"countryiso3code":"AFE","date":"1972","value":null,"scale":"","unit":"","obs_status":"","decimal":0},{"indicator":{"id"',
 b':"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZH","value":"Africa Eastern',
 b' and Southern"},"countryiso3code":"AFE","date":"1971","value":null,"scale":"","unit":"","obs_status":"","decimal":0},{"indicator',
 b'":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZH","value":"Africa ',
 b'Eastern and Southern"},"countryiso3code":"AFE","date":"1970","value":null,"scale":"","unit":"","obs_status":"","decimal":0},{"in',
 b'dicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZH","value":"',
 b'Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1969","value":null,"scale":"","unit":"","obs_status":"","decimal":',
 b'0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZH","v',
 b'alue":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1968","value":null,"scale":"","unit":"","obs_status":"","de',
 b'cimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":',
 b'"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1967","value":null,"scale":"","unit":"","obs_status"',
 b':"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country"',
 b':{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1966","value":null,"scale":"","unit":"","obs_',
 b'status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"c',
 b'ountry":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1965","value":null,"scale":"","unit":"',
 b'","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international ',
 b'$)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1964","value":null,"scale":"","',
 b'unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 interna',
 b'tional $)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1963","value":null,"scal',
 b'e":"","unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 ',
 b'international $)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1962","value":nul',
 b'l,"scale":"","unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constan',
 b't 2021 international $)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"1961","val',
 b'ue":null,"scale":"","unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (',
 b'constant 2021 international $)"},"country":{"id":"ZH","value":"Africa Eastern and Southern"},"countryiso3code":"AFE","date":"196',
 b'0","value":null,"scale":"","unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita',
 b', PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date',
 b'":"2023","value":4857.98753349736,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per',
 b' capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW',
 b'","date":"2022","value":4816.95691648424,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"',
 b'GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3cod',
 b'e":"AFW","date":"2021","value":4756.30841947667,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","v',
 b'alue":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"country',
 b'iso3code":"AFW","date":"2020","value":4690.06298609972,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP',
 b'.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"',
 b'countryiso3code":"AFW","date":"2019","value":4853.2810825933,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.P',
 b'CAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Centr',
 b'al"},"countryiso3code":"AFW","date":"2018","value":4817.20349375277,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"N',
 b'Y.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western an',
 b'd Central"},"countryiso3code":"AFW","date":"2017","value":4800.64378885975,"unit":"","obs_status":"","decimal":0},{"indicator":{',
 b'"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Wes',
 b'tern and Central"},"countryiso3code":"AFW","date":"2016","value":4807.01663694626,"unit":"","obs_status":"","decimal":0},{"indic',
 b'ator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Afr',
 b'ica Western and Central"},"countryiso3code":"AFW","date":"2015","value":4914.57231835675,"unit":"","obs_status":"","decimal":0},',
 b'{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","valu',
 b'e":"Africa Western and Central"},"countryiso3code":"AFW","date":"2014","value":4907.92241389109,"unit":"","obs_status":"","decim',
 b'al":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI',
 b'","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"2013","value":4765.67581292301,"unit":"","obs_status":""',
 b',"decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"',
 b'id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"2012","value":4622.8278132727,"unit":"","obs_stat',
 b'us":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"count',
 b'ry":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"2011","value":4513.11705885515,"unit":"","o',
 b'bs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"}',
 b',"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"2010","value":4427.4727066001,"unit"',
 b':"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 internationa',
 b'l $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"2009","value":4264.66744562912',
 b',"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 inter',
 b'national $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"2008","value":4139.4368',
 b'4852176,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 202',
 b'1 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"2007","value":40',
 b'08.77318219461,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (const',
 b'ant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"2006","va',
 b'lue":3915.98120656163,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP',
 b' (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"20',
 b'05","value":3824.09586196343,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capi',
 b'ta, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","da',
 b'te":"2004","value":3719.20785335475,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP p',
 b'er capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"A',
 b'FW","date":"2003","value":3549.73396045084,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value"',
 b':"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3c',
 b'ode":"AFW","date":"2002","value":3465.03696591413,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD",',
 b'"value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"count',
 b'ryiso3code":"AFW","date":"2001","value":3266.63147674008,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.',
 b'PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"}',
 b',"countryiso3code":"AFW","date":"2000","value":3193.50211762617,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GD',
 b'P.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western and Ce',
 b'ntral"},"countryiso3code":"AFW","date":"1999","value":3165.31627959278,"unit":"","obs_status":"","decimal":0},{"indicator":{"id"',
 b':"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa Western',
 b' and Central"},"countryiso3code":"AFW","date":"1998","value":3195.92823737276,"unit":"","obs_status":"","decimal":0},{"indicator',
 b'":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"Africa ',
 b'Western and Central"},"countryiso3code":"AFW","date":"1997","value":3164.29851934602,"unit":"","obs_status":"","decimal":0},{"in',
 b'dicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","value":"',
 b'Africa Western and Central"},"countryiso3code":"AFW","date":"1996","value":3107.67740383576,"unit":"","obs_status":"","decimal":',
 b'0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":"ZI","v',
 b'alue":"Africa Western and Central"},"countryiso3code":"AFW","date":"1995","value":3047.56879218613,"unit":"","obs_status":"","de',
 b'cimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country":{"id":',
 b'"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"1994","value":3060.30597192798,"unit":"","obs_status"',
 b':"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"country"',
 b':{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"1993","value":3143.151891036,"unit":"","obs_st',
 b'atus":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"},"cou',
 b'ntry":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"1992","value":3264.4227871301,"unit":"","',
 b'obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 international $)"',
 b'},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"1991","value":3281.24471593989,"uni',
 b't":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 internatio',
 b'nal $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"1990","value":3328.880333279',
 b'85,"unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 2021 int',
 b'ernational $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"1989","value":null,"s',
 b'cale":"","unit":"","obs_status":"","decimal":0},{"indicator":{"id":"NY.GDP.PCAP.PP.KD","value":"GDP per capita, PPP (constant 20',
 b'21 international $)"},"country":{"id":"ZI","value":"Africa Western and Central"},"countryiso3code":"AFW","date":"1988","value":n',
 b'ull,"scale":"","unit":"","obs_status":"","decimal":0}]]']

In [23]:
# endpoint_ = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD;SP.DYN.LE00.IN?source=2'

# all_data = []
# new_results = True
# page = 1
# while new_results:
#     discover_api = requests.get(endpoint_ + f"&page={page}").json()
#     new_results = discover_api.get("results", [])
#     all_data.extend(new_results)
#     page += 1

JSONDecodeError: Expecting value: line 1 column 1 (char 0)


6. The endpoint "<http://api.worldbank.org/v2/indicator>" will return information about all available indicators. See [Indicator API Queries](https://datahelpdesk.worldbank.org/knowledgebase/articles/898599-indicator-api-queries). Use this endpoint to find the code for the "Public Expenditure on Education (% GDP)" indicator.